<% include partials/header %>


<body>

<h2><%= farms[0].agent_full_name %>'s Farms</h2>


<div class="container">


  <table id="myTable">
    <thead>
      <tr class="header">
        <th style="width:5%;">FARM ID</th>
        <th style="width:10%;">STATUS</th>
        <th style="width:10%;">FARM TYPE</th>
        <th style="width:10%;">MAILER DESCRIPTION</th>
        <th style="width:10%;">FARM DATE</th>
        <th style="width:10%;">NEIGHBORHOOD</th>
        <th style="width:10%;">MAILER COST</th>
        <th style="width:10%;">MAILER COUNT</th>
        <th style="width:25%;">NOTES</th>
      </tr>
    </thead>
    <tbody>
      <% farms.forEach(function(farm){ %>
        <tr class='clickable-row'  data-href = ''  >
          <td><%= farm.farm_id %></td>
          <td><%= farm.status_description %></td>
          <td><%= farm.farm_type_description  %></td>
          <td><%= farm.mailer_description  %></td>
          <td><%= moment(farm.Farm_Date).format('MM/DD/YYYY') %></td>
          <td><%= farm.neighborhood  %></td>
          <td><%= farm.mailer_cost %></td>
          <td><%= farm.mailer_count  %></td>
          <td><%= farm.Notes%></td>
        </tr>
      <% }); %>
 
    </tbody>
  </table>

</div>




<script type="text/javascript">
  $(document).ready(function() {
    $('#myTable').DataTable( {
        "order": [[ 1, "desc" ]],
        "iDisplayLength":25
    } );
} );
// jQuery(document).ready(function($) {
//     $(".clickable-row").click(function() {
//         window.document.location = $(this).data("href");
//     });
// });

</script>





</body>
</html>
